html {font-size: 1em;}
body {
    background-color: white;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
.main-navigation{
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
    background-color: #fff;
}
.display-inline-block{
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.main-nav>li {
    float: none;
    display: inline-block;
}
.main-navigation .navbar-nav>li>a{
    font-family: 'Lora', Serif;
    text-transform: uppercase;
    font-weight: 400;
}
.main-navigation .navbar-nav>li>a:focus,
.main-navigation .navbar-nav>li>a:hover {
    color: #b49759;
    background-color: transparent;
}
.main-navigation .navbar-nav>.active>a,
.main-navigation .navbar-nav>.active>a:focus,
.main-navigation .navbar-nav>.active>a:hover {
    color: #b49759;
    background-color: transparent;
}
.slide {
    height: 80vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.navbar-brand{
    display: block;
    float: none;
    padding: 5px;
    margin: 0!important;
}
.navbar-brand img{
    height: 40px;
    width: auto;
}
.slide-content {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    color:red;
    font-family: 'Raleway', sans-serif;
}
.tag-line{
    background-color:rgba(0,0,0,0.5) ;
    color: #fff;
    padding: 10px 15px;
}
.text-center{
    text-align: center;
}
.form-wraper .form-group .form-control{
    background-color: transparent;
    color: #ffffff;
    border-color: #b49759;
}