html {font-size: 1em;}
body {
    background-color: white;
    font-family:'Raleway', sans-serif,'Lora', serif;
    font-weight: 300;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
.main-navigation{
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
    background-color: #fff;
}
.display-inline-block{
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.main-nav>li {
    float: none;
    display: inline-block;
}
.main-navigation .navbar-nav>li>a{
    font-family: 'Lora', Serif;
    text-transform: uppercase;
    font-weight: 400;
}
.main-navigation .navbar-nav>li>a:focus,
.main-navigation .navbar-nav>li>a:hover {
    color: #b49759;
    background-color: transparent;
}
.main-navigation .navbar-nav>.active>a,
.main-navigation .navbar-nav>.active>a:focus,
.main-navigation .navbar-nav>.active>a:hover {
    color: #b49759;
    background-color: transparent;
}

.booking {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2c3640;
}

.form-inline .form-group {
    padding: 15px;
}
.theme-btn{
    background-color: #b49759;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    transition: all .2s ease-in-out;
}
.theme-btn:hover, .theme-btn:focus{
    background-color: transparent;
    border-color: #b49759;
    color: #b49759;
}

.slide {
    height: 80vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.navbar-brand{
    display: block;
    float: none;
    padding: 5px;
    margin: 0!important;
}
.navbar-brand img{
    height: 40px;
    width: auto;
}
.slide-content {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    color:red;
}
.tag-line{
    background-color:rgba(0,0,0,0.5) ;
    color: #fff;
    padding: 10px 15px;
    /* color:#be8c5f:b49759 */
}
.a-few-words{
    background-color: #f7f7f7;
    padding-top: 90px;
    padding-bottom: 120px;
}
.heading{
    color: #be8c5f;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 5px;
}
.icon-lg{
    font-size: 80px;
    color: #be8c5f;
}
.icon-widget h4{
    font-size: 20px;
    color: #000000;
    font-family:'Lora', serif;
}
.icon-widget p{
    font-size: 16px;
    color: #122b40;
}
.icon-text-outer-middle{
    border-left: 1px solid #be8c5f;
    border-right: 1px solid #be8c5f;
    margin: 0 -15px;
    padding: 0 15px;
}
.split-img{
    margin: 0 -15px;
}
.split-img img{
    width:100%;
}
.split-content{
    margin: 0 -15px;
    overflow: hidden;
    padding: 50px 20px;
    margin-right: 50px;
}
.split-content h4{
    font-size: 20px;
    font-family: 'Lora', serif;
    color:#be8c5f;
    padding: 5px;
}
.split-content p{
    font-size: 16px;
    color: #787070;
    font-family:'Raleway', sans-serif;
    padding: 5px;
}
.split-content .normal-list{
    display: block;
}
.normal-list li{
    display: block;
}
.normal-list li>a{
    font-size: 16px;
    color:#787070;
    text-decoration: none;
}
.split-content .new-icon{
    display: inline-block;
}
.new-icon li{
    display: inline-block;
}
.new-icon li>a {
    display: block;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    float: left;
    color: #be8c5f;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-top: 3px solid;
    transform: rotateY(-217deg);
    /* border-right: 1px solid gray; */
    width: 50px;
    -webkit-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(255,255,255,0.75);
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.button{
    padding: 8px;
}
.button .btn-book {
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    background-color: #761c19;
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}
.text-center{
    text-align: center;
}
.form-wraper .form-group .form-control {
    background-color: transparent;
    color: #ffffff;
    border-color: #b49759;
}
.our-room{
    background-color:#171C30;
}
.our-restuarant{
    padding: 80px 0;
    background-color: #ededed;
}
.d-table{
    display: table;
    width:100%;
    margin:0 auto;
}
.d-cell{
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.reduce-30{
    width:calc(100% - 30px);
}
.content{
    margin-left: 80px;
}
.content-img img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.full-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.lg-display-none{
    opacity: 0;
}
.our-news{
    padding:80px 0;
    margin-top: 20px;
}
.suit-img{
    position: relative;
}
.suit-img img{
    width:100%;
}
.card{
    background-color:#141123;
    position: absolute;
    bottom: -10%;
    left: 90%;
    width: 60%;
    height: 90%;
    padding: 30px 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.text h3{
    color: #be8c5f;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 2px 3px;
    letter-spacing: 4px;
}
.text p{
    color: #8C8F9E;
    text-align: justify;
}
.btn-read{
    border:0;
    border-radius: 0;
    padding:5px 10px;
    color: #fff;
    background-color:#761c19;
    text-shadow: 1px 1px 2px;
    letter-spacing: 2px;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    border-radius: 0;

}
.form-wraper .form-group>.form-control{
    border-radius: 0px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select option{
    height: 34px;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #8a6d3b;
    color: #fff;
}
select option:hover{
    background-color: transparent;
    color: #8a6d3b;
}
.counter-section{
    background-color: rgba(220, 220, 217, 0.9);
}
.counter-wraper {
    width: 200px;
    height: 200px;
    background-color: #fcfcfc;
    margin: 0 auto;

}
.counter-inner {
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(15px);
    left: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    background-color: #fdfdfd;
    transition: all 450ms ease-in-out;
    color: #be8c5f;
}
.counter-inner:hover{
    transform: translateY(0);
    left: 0;
}
.counter-text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.counter-section{
    padding: 120px 0;
}
.counter-value {
    font-size: 48px;
    font-family: "Lora",serif;
    text-shadow: 3px 4px 2px;
    letter-spacing: 5px;
}
.nav-dark{
    background-color: #2c3640;
}
.padding-top-bottom-30{
    padding-top:30px;
    padding-bottom: 30px;
}
footer{
    margin:0;
    padding:10px 0;
    background-color: #b49759;

}
.copyright{
    float: left;
}
.icon-nav-container{
    float: right;
}
.icon-nav-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.icon-nav-container ul li{
    float: left;
}
.icon-nav-container ul li a{
    display: block;
    width: 36px;
    height: 36px;
    background-color: transparent;
    margin: 0 10px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    border:1px solid #fff;
}
.copyrigh p{
    margin:0;
    color: #fff;
    font-family: 'Raleway', sans-serif, 'Lora', serif;
    letter-spacing: 2px;
}
.cost{
    margin-top: 30px;
}
.our-restuarant-blog{
    background-color: rgba(220,180,50,0.2);
    padding: 15px;
    margin-top: 30px;
}
.content-middle{
    float: left;
}
.content-img-middle{
    float: right;
}
.featured-stories{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}
.speech-widget{
    padding: 30px 15px;
    position: relative;
}
.speech-widget .before{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top:1px solid #8a6d3b;
    border-left:1px solid #8a6d3b;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    transform-origin: top left;

}
.speech-widget .after{
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom:1px solid #000;
    border-right:1px solid #000;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    transform-origin: right bottom;

}
.speech-widget:hover .before{

    transform: scale(0);
}
.speech-widget:hover .after{
    transform: scale(0);
}
.theme-media .media-body{
    padding-left: 15px;
}
.theme-media .media-left .media-object{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



.left-top,.left-bottom,.right-top,.right-bottom{
    position: absolute;
    width: 80px;
    height: 80px;
    transition: all 450ms ease-in-out;
}
.left-top{
    top:0;
    left: 0;
    border-top:1px solid #b49759;
    border-left: 1px solid #b49759;
}
.right-top{
    top:0;
    right: 0;
    border-top:1px solid #b49759;
    border-right: 1px solid #b49759;
}
.left-bottom{
    bottom:0;
    left: 0;
    border-bottom:1px solid #b49759;
    border-left: 1px solid #b49759;
}
.right-bottom{
    bottom:0;
    right: 0;
    border-bottom:1px solid #b49759;
    border-right: 1px solid #b49759;
}
.speech-widget:hover .left-top,
.speech-widget:hover .left-bottom,
.speech-widget:hover .right-top,
.speech-widget:hover .right-bottom{
    width: 100%;
    height: 100%;
}
.feature {
    padding-bottom: 90px;
}
.blog-2{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.blog-slide-content h3{
    color: #be8c5f;
    letter-spacing: 8px;
    text-shadow: 2px 2px 0px #020223;
}
.blog-slide-content p{
    color: #211f30;
    padding: 10px 0;
}
.btn-transparent{
    border-radius: 0;
    background-color: rgba(56, 25, 53, 0);
    border: 1px solid #b89759;
    color: #222;
    padding: 7px 14px;
    letter-spacing: 7px;
}
.blog-2::before{
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    width:100%;
    height:100%;
}
.cta{
    background-color: #b49759;
}
.cta-content {
    text-align: center;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}

.cta-content h2{
    color: #ffffff;
}
.cta-content p{
    color: #ffffff;
}
.italic-p{
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}

.higlight-content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.highlight-menu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.highlight-menu ul{
    list-style: none;
    display: block;
}
.highlight-menu ul li{
    display: inline-block;
}
.highlight-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 15px;
    display: block;
    font-family: "Lora", serif;
    letter-spacing: 2px;
    color: #333333;
}
.hl-tanmoy-img{
    margin-left: -17px;
    margin-right: -15px;
    border-left: 1px solid #fff;
}
.hl-tanmoy-img img {
    width: 100%;
}
.dish{
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.food-list{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.food-price{
    text-align: center;
    border: 1px solid rgb(20, 18, 18);
    background-color: rgba(14, 15, 35,.7);
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 15px;
}
.food-price h4{
    color: rgb(180, 151, 89);
    letter-spacing: 4px;
}
.food-price p{
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.price-tag{
    color: rgb(237, 164, 9);
    font-size: 21px;
    font-family: 'Lora', serif;
}
.heading-food h1{
    font-family: 'Tangerine', cursive;
    color: #b49759;
    letter-spacing: 4px;
    text-shadow: -2px 2px 0px #000;
    font-size: 68px;
    font-weight: bold;
}
.border-anim-1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: transparent;
    border: 1px solid #ededed;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    width: 100%;
    height: 100%;
    transform-origin: left top;
}
.border-anim-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border: 1px solid #ededed;
    width: 100%;
    height:100%;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    transform-origin: bottom right;
}
.food-price:hover .border-anim-1,
.food-price:hover .border-anim-2{
    transform: scale(1);
}
.our-team{
    padding:30px;
}
.our-intro{
    max-width: 600px;
    margin: 0 auto;
}
.our-img img{
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 50%;
    display: block;
    margin:0 auto;
}
.our-intro h2{
    color: rgb(54, 49, 10);
    letter-spacing: 5px;
    text-shadow: 2px 2px 0px;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 24px;
}
.our-intro p{
    font-family: "Tangerine",cursive;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(180, 137, 87);
    font-size: 28px;
}
.name{
    padding: 20px;
    font-size: 16px;
    color: rgb(17, 4, 16);
    letter-spacing: 4px;
    font-family: 'Lora', serif;
    text-shadow: 1px 2px 1px;
}

.footer-top{
    padding: 70px 0;
    background-color: #dddddd;
}
.footer-top-media{
    margin-top: 50px;
}


.w-80 {
    width: 80px;
}
.h-80{
    height: 80px;
}
.h-menu{
    list-style: none;
    padding: 0;
}
.h-menu li {
    display: block;
    padding: 5px;
}
.h-menu li a{
    text-decoration: none;
    display: block;
    font-family: "Lora", serif;
    letter-spacing: 2px;
    color: #222222;
}
.featured-products{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #d2cec7;
}
.featured-bonus {
    border: 1px dashed #777;
    padding: 15px;
    text-align: center;
}
.featured-bonus p{
    margin-bottom: 5px;
    font-family: "Lora", serif;
    letter-spacing: 2px;
}
.featured-bonus h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #b49759;
    font-family: "Lora", serif;
    font-size: 22px;
}
.heading-container{
    max-width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    overflow: hidden;
}

.special-card-img img{
    width: 100%;
}
.special-card-content{
    background-color: #ddd;
    padding: 15px;
    overflow: hidden;
}
.special-card-content-left h4{
    margin-top: 0;
}
.testimonial-01{
    padding:80px 0;
}
.testimonial-01-media {
    padding: 25px;
    border: 1px solid #a73434;
}
.testimonial-01-media .media-body{
    padding-left: 15px;
    padding-right: 15px;
}
.testimonial-01-media .media-left{
    font-size: 40px;
    color: #b49759;
}
.testimonial-01-media p{
    font-family: "Lora", serif;
    color: #333333;
    text-align: justify;
}
.testimonial-01-media h5{
    font-family: 'Raleway', sans-serif;
}

.testimonial-02-content .media-left img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial-02-content .media{
    background-color: #ddd;
    padding: 15px 15px 10px 15px;
}
.testimonial-02-content .testimonial-02-text {
    padding: 15px;
}

.featured-work{
    background-color: #f5f5f5;
}
.featured-work-img img{
    width: 100%;
}
.hr-01 {
    border: 0;
    width: 50px;
    height: 2px;
    background-color: #b92828;
    margin-left: 0;
}
.no-padding-left-right{
    padding-left: 0;
    padding-right: 0;
}

.position--absolute{
    position: absolute;
}
.right-0{
    right: 0;
}
.left-0{
    left: 0;
}
.top-0{
    top:0;
}
.bottom-0{
    bottom: 0;
}
.margin-right-15{
    margin-right: 15px;
}
.italic-pp{
    color: #2b542c;
    font-style: italic;
    font-weight: bold;
}
.coupon{
    padding: 15px 15px;
}
.coupon-inner{
    min-height: 350px;
    width: 100%;
    position: relative;
    background-color: rgba(255,255,255,.3);
    border: 2px dashed #FFFFFF;
}
.turn-middle{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.center{
    margin: 0 auto;
}
.hr-w-100{
    width: 100px;
    border: 0;
    height: 2px;
    background-color: #b92828;
}
.subscribe-form .form-control{
    border-radius: 0;
    height: 46px;
    box-shadow: none;
    border: 1px dashed #777;
}
.form-special{
    margin-top: 80px;
}
.team-card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.team-card figure{
    position: relative;
    overflow: hidden;
}
.team-card figure img{
    width: 100%;
    height: auto;
}

.team-card figure .fig-caption{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 100%;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    transition: all .5s ease-in-out;
}
.team-card:hover figure .fig-caption{
    left: 0;
}
.team-card figure .fig-caption .team-social-icons{}
.team-card figure .fig-caption .team-social-icons ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
.team-card figure .fig-caption .team-social-icons ul li{
    display: inline-block;
    float: left;
}
.team-card figure .fig-caption .team-social-icons ul li a{
    display: block;
}
.team-card .team-member-designation{
    padding: 30px 15px;
    background-color: #f7f7f7;
    text-shadow: 1px 1px 3px;
    letter-spacing: 1px;
    font-family: 'Lora', Serif;
}
.text-light-gray{
    margin-left: 15px;
    letter-spacing: 2px;
}