html {font-size: 1em;}
body {
    background-color: white;
    font-family:'Raleway', sans-serif,'Lora', serif;
    font-weight: 300;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
.main-navigation{
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
    background-color: #fff;
}
.display-inline-block{
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.main-nav>li {
    float: none;
    display: inline-block;
}
.main-navigation .navbar-nav>li>a{
    font-family: 'Lora', Serif;
    text-transform: uppercase;
    font-weight: 400;
}
.main-navigation .navbar-nav>li>a:focus,
.main-navigation .navbar-nav>li>a:hover {
    color: #b49759;
    background-color: transparent;
}
.main-navigation .navbar-nav>.active>a,
.main-navigation .navbar-nav>.active>a:focus,
.main-navigation .navbar-nav>.active>a:hover {
    color: #b49759;
    background-color: transparent;
}

.booking {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2c3640;
}

.form-inline .form-group {
    padding: 15px;
}
.theme-btn{
    background-color: #b49759;
}


.slide {
    height: 80vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}
.navbar-brand{
    display: block;
    float: none;
    padding: 5px;
    margin: 0!important;
}
.navbar-brand img{
    height: 40px;
    width: auto;
}
.slide-content {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    color:red;
}
.tag-line{
    background-color:rgba(0,0,0,0.5) ;
    color: #fff;
    padding: 10px 15px;
    /* color:#be8c5f:b49759 */
}
.a-few-words{
    background-color: #f7f7f7;
    padding-top: 90px;
    padding-bottom: 120px;
}
.heading{
    color: #be8c5f;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 5px;
}
.icon-lg{
    font-size: 80px;
    color: #be8c5f;
}
.icon-widget h4{
    font-size: 20px;
    color: #000000;
    font-family:'Lora', serif;
}
.icon-widget p{
    font-size: 16px;
    color: #122b40;
}
.icon-text-outer-middle{
    border-left: 1px solid #be8c5f;
    border-right: 1px solid #be8c5f;
    margin: 0 -15px;
    padding: 0 15px;
}
.split-img{
    margin: 0 -15px;
}
.split-img img{
    width:100%;
}
.split-content{
    margin: 0 -15px;
    overflow: hidden;
    padding: 50px 20px;
    margin-right: 50px;
}
.split-content h4{
    font-size: 20px;
    font-family: 'Lora', serif;
    color:#be8c5f;
    padding: 5px;
}
.split-content p{
    font-size: 16px;
    color: #787070;
    font-family:'Raleway', sans-serif;
    padding: 5px;
}
.split-content .normal-list{
    display: block;
}
.normal-list li{
    display: block;
}
.normal-list li>a{
    font-size: 16px;
    color:#787070;
    text-decoration: none;
}
.split-content .new-icon{
    display: inline-block;
}
.new-icon li{
    display: inline-block;
}
.new-icon li>a{
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    float: left;
    color: #be8c5f;
}
.button{
    padding: 8px;
}
.button .btn-book {
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    background-color: #761c19;
    color: #fff;
    margin-left: 30px;
}
.text-center{
    text-align: center;
}
.form-wraper .form-group .form-control {
    background-color: transparent;
    color: #ffffff;
    border-color: #b49759;
}
.our-room{
    background-color:#171C30;
}
.our-restuarant{
    padding: 80px 0;
    background-color: #ededed;
}
.d-table{
    display: table;
    width:100%;
    margin:0 auto;
}
.d-cell{
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.reduce-30{
    width:calc(100% - 30px);
}
.content{
    margin-left: 80px;
}
.content-img img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.full-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.lg-display-none{
    opacity: 0;
}